.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
  border-radius: 10px;
}

.movie-card h2 {
  max-width: 400px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
}

.movie-card img {
  border-radius: 50px 50px 0 0;
}

.movie-card p {
  font-size: 1.3rem;
}

@media only screen and (max-width: 480px) {
  .movie-card {
    max-width: 100px;
  }

  .movie-card h2 {
    width: 100px;
    font-size: 15px;
  }

  .movie-card img {
    border-radius: 20px;
  }

  .movie-card p {
    font-size: 1rem;
  }
}
