.SearchPage .container .title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.SearchPage .title .query-text {
  color: #ffd700;
}

.SearchPage .movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.SearchPage .movies-container div {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  padding: 0 0 10px 0;
}

.SearchPage .movies-container div img {
  max-width: 100%;
}

.SearchPage .movies-container div img,
.SearchPage .movies-container div p {
  margin-bottom: 0.5rem;
}

.SearchPage .movies-container div svg {
  color: #ffd700;
}

.SearchPage .movies-container div a {
  background-color: #ffd700;
  border: 2px solid #ffd700;
  border-radius: 4px;
  padding: 0.2rem;
  color: black;
  font-size: 1.5rem;
  transition: 0.4s;
  font-weight: bold;
}

.SearchPage .movies-container div a:hover {
  background-color: transparent;
  color: #ffd700;
}

.SearchPage footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10rem;
}

.SearchPage .authorship {
  margin-top: 1.5rem;
}

.SearchPage .authorship span {
  color: #ffd700;
}

@media only screen and (max-width: 768px) {
  body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: scroll;
    display: inline;
  }

  .searchPage .container {
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchPage .movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
  }

  .searchPage .movies-container div {
    background-color: transparent;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0 5px 20px;
    border-radius: 20px;
    flex: 0 0 25%;
  }

  .searchPage .movies-container div img {
    height: 100%;
  }
}
